<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./assets/logo.png" sizes="40x40" type="image/png">
    <link rel="stylesheet" href="./styles/mantenimiento.css">
    <title>UNTELS Certificados</title>
</head>
<body>
    <div class="wallpaper"></div>
    <div id="root">
        <div class="alert"></div>
        <%- include('partials/construction') %>
    </div>
</body>
</html>