<header class="header_container">
    <div class="header_info header_layout">
        <div class="header_text">
            <h1>UNTELS - Certificados</h1>
            <h2>Sitio en Construcción</h2>
            <p>Estamos trabajando para que el sistema de validación de certificados  UNTELS esté disponible pronto.</p>
            <p>Por favor, vuelva a intentarlo más tarde</p>
            <h4> &copy; 2024 Universidad Nacional Tecnológica de Lima Sur - UNTELS</h4>
        </div>
    </div>
    <div class="header_logo header_layout">
        <figure>
            <img src="./assets/website-build.svg" alt="logo-untels-qr">
        </figure>
    </div>
</header>