<header class="header_container">
    <div class="header_info header_layout">
        <div class="header_text">
            <h1>Bienvenido al Sistema de Validación de Certificados</h1>
            <p>La Universidad Nacional Tecnológica de Lima Sur presenta su plataforma de validación de códigos QR, diseñada para garantizar la autenticidad de constancias y certificados emitidos</p>
            <a href="/validar" class="header_link" rel="noopener noreferrer" title="Validar mi certificado o constancia">Validar mi certificado</a>
        </div>
    </div>
    <div class="header_logo header_layout">
        <figure>
            <img src="https://cdni.iconscout.com/illustration/premium/thumb/hombre-escaneo-codigo-qr-usando-lector-de-codigo-de-barras-4438777-3718505.png?f=webp" alt="logo-untels-qr">
        </figure>
    </div>
</header>