@import url('./libs/reset.css');
@import url('./components/navbar.css');
@import url('./libs/alert.css');

:root{
	--clr-title: #818181;
	--clr-input: #5e5e5e;
	--clr-input-hover: #161616;
	/* boton submit */
	--clr-btn: #2760f0;
	--clr-btn-text: #fff;
	--clr-btn-hover: #3867df;
	--radius-btn: 15px;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}
/* FORMULAIO CONTAINER */
.container_form{
	position: relative;
	width: 100%;
	max-width: 380px;
	height: max-content;
	overflow: hidden;
	border-radius: 20px;
	padding: 2rem 1rem;
	background: #ffffff;
	box-shadow: 6px 6px 16px #7b7b7b,
    -6px -6px 16px #ffffff;
}
.title h1{
	text-align: center;
}
.title p{
	margin-top: 1rem;
	text-align: center;
	text-wrap: balance;
	color: var(--clr-title);
}
/* LOGIN */
.login {
	margin-top: 2rem;
	padding: 0 1rem;
	display: grid;
	gap: 2rem;
}
.login .form_group{
	display: grid;
	gap: .3rem;
}
.login__input {
	--icon-clr: var(--clr-input);
	border: 1px solid var(--icon-clr);
	color: var(--icon-clr);
	background: transparent;
	padding: .9rem .7rem;
	width: 100%;
	border-radius: var(--radius-btn);
	transition: all 300ms ease;
}
.login__input:active,
.login__input:focus,
.login__input:hover {
	--icon-clr: var(--clr-input-hover);
}
.login__input:user-valid{
	border-color: var(--icon-clr);
	color: var(--icon-clr);
}
.login__input:user-invalid{
	border: 1px solid red;
	color: red;
}

.login__submit {
	background: var(--clr-btn);
	color: var(--clr-btn-text);
	margin-top: 1rem;
	padding: 1rem 1rem 1rem 2rem;
	border-radius: var(--radius-btn);
	text-transform: uppercase;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	width: 100%;
	transition: all ease 300ms;
	--icon-size: 20px;
	--icon-clr: var(--clr-btn-text);
}
.button__text{
	text-align: center;
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
	background: var(--clr-btn-hover);
}
